/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-dialog-container {
    padding: 0 !important;
    height: 450px !important;
  }
  
  .mat-dialog-content {
    padding: 0 !important;
    width: 100% !important;
    margin: auto !important;
  }
  
  .mat-dialog-actions {
    padding: 0 !important;
  }